.header__text, .item__text, .sub__text
  white-space: normal;
  text-align left

.header__text
  font-size: 18px
  margin-bottom: 7px;


.item__text
  text-align left
  font-size: 18px

.sub__text
  font-size: 13px
